<!DOCTYPE html>
<html lang="en">

<head>
  <title>What am I looking at?</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container">
    <div class="title">
    </div>
    <div class="image">
      <img src="<%= img%>" alt="Hot dog" class="img" />
    </div>
    <div class="results">
      <ul>
        <% if (tags[0].confidence>.89) { %>
          <h1>This looks like <%=tags[1].name%>
          </h1>
            <h2>Pretty sure it could also be these:</h2>
            <% for (let i=2; i<5; i++) { %>
              <% if (tags[i].confidence>.89) { %>
                <li>
                  <%=tags[i].confidence.toFixed(2)*100%>% <%=tags[i].name%>
                </li>
                <% } %>
                <% } %>
                  <% } else { %>
                      <h1>Not sure what this is...please upload a clearer picture</h1>
                      <% } %>
      </ul>
    </div>
    <div class="form">
      <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="file-to-upload" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </div>
</body>

</html>